.login-section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.login-form {
  background: #d8dbe2;
  padding: 1.8rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 22rem;
}

.login-section p {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.login-form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label {
  color: #1b1b1e;
  text-align: start;
}

.login-form input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
}

.login-form input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.2);
}

.login-form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #242424;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login-form button:hover {
  background: #2c5364;
  color: #000;
}

.login-form button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.login-form .error {
  background: #ffe5e5;
  color: #c40000;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}
